{% extends 'dashbase.html' %}{% block body %}
<h3>Reset Password</h3>
<form
  action=""
  method="post"
  onsubmit="{alert('password reset successfully')}"

>
  {% csrf_token %}

  {% if error %}
    <p style="color:red">User Current Password is worng</p>
  {% endif %}
  <div class="contianer" style="width: 50%">
    <div class="mb-3">
      <label for="c_pass" class="form-label"
        >Current Password</label
      >
      <input
        type="text"
        class="form-control"
        id="c_pass"
        placeholder="Enter Password"
        name="c_password"
      />
    </div>
    <div class="mb-3">
      <label for="n_pass" class="form-label"
        >New Password</label
      >
      <input
        type="password"
        class="form-control"
        id="n_pass"
        placeholder="Enter New Password"
        name="n_password"
        minlength="8"
      />
    </div>
    <div class="mb-3">
      <label for="r_n_pass" class="form-label"
        >Re-Enter New Password</label
      >
      <input
        type="text"
        class="form-control"
        id="r_n_pass"
        placeholder="Re-Enter New Password"
        oninput="reset_pass(this)"
      />
    <button id="sub" onmouseover="move_this(this)" class="btn btn-primary move">Reset Password</button>
  </div>
</form>

<script>
function reset_pass(el) {
    var p_el = document.getElementById("n_pass")
    if(el.value === p_el.value){
        el.style.color = "green"
        bt = document.getElementById("sub")
        bt.classList.remove("move")
        if(bt.classList.contains("toggle_bt")){
            bt.classList.remove("toggle_bt")
        }

    }else{
        el.style.color = "red"
        if(!bt.classList.contains("move")){
            bt.classList.add("move")
        }
    }
    
}
function move_this(bt) {
    if(bt.classList.contains("move"))
        bt.classList.toggle("toggle_bt")
}
</script>
{% endblock %}
