{% extends 'dashbase.html' %}{% block body %}
    <div class="container">
        <h3>Subscriber e-mail</h3>
    <table id="example" class="table table-striped" style="width: 100%">
      <thead>
        <tr>
            <th>S. No</th>
          <th>Email</th>
          <th>Date</th>
         
        </tr>
      </thead>
      <tbody>
        {% for s in subscriber %}
        <tr>
        <td>{{ s.id }}</td>
          <td>{{ s.email }}</td>
          <td>{{ s.dateOfSub| date:"d-M-Y" }}</td>
         
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>

{% endblock %}
